name: Publish & Release

on:
    push:
        tags:
            - "v*"

jobs:
    publish:
        name: Publish to Crates.io
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install Rust
              uses: dtolnay/rust-toolchain@stable 

            - name: Build
              run: cargo build -p press_rs --release --verbose

            - name: Run tests
              run: cargo test -p press_rs --release --verbose

            - name: Publish press_rs
              env:
                  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
              run: cargo publish -p press_rs

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v1
              with:
                  generate_release_notes: true
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
