name: Rust CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Build and Test
    runs_on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Check formatting
        run: cargo fmt -- --check

      - name: Build
        run: cargo build --release --verbose

      - name: Run tests
        run: cargo test --release --verbose
        
      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: press_rs_release
          path: target/release/press_rs
          if-no-files-found: error